@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 97%;
    --foreground: 220 16% 15%;

    --card: 240 10% 100%;
    --card-foreground: 220 16% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 16% 15%;

    --primary: 45 96% 63%;
    --primary-foreground: 220 16% 10%;

    --secondary: 220 10% 94%;
    --secondary-foreground: 220 16% 9%;

    --muted: 220 10% 94%;
    --muted-foreground: 220 10% 45%;

    --accent: 220 10% 90%;
    --accent-foreground: 220 16% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 10% 88%;
    --ring: 45 96% 63%;

    --radius: 1rem;
  }

  .dark {
    --background: 220 16% 10%;
    --foreground: 0 0% 98%;

    --card: 220 16% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 220 16% 9%;
    --popover-foreground: 0 0% 98%;

    --primary: 45 96% 63%;
    --primary-foreground: 220 16% 10%;

    --secondary: 220 16% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 220 16% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 220 16% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 16% 20%;
    --input: 220 16% 20%;
    --ring: 45 96% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
